.titulo {
    grid-area: titulo;
    background-color: #ffc0cb;
    padding: 10px;
    text-align: center;
    border:solid;
}
.tituloDos {
    background-color: rgb(252, 243, 227);
    text-align: center;
    padding: 5px;
}
